body{
    margin: 0px;
}

nav{
    background-image:linear-gradient(rgba(82, 82, 86,0.3),rgba(82,82,86,0.5)) ,url('./logo2.jpg');
    background-position-x: center;
    background-position: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(128, 0, 0);
    
}
.nome{
    width: 100px;
    height: 70px;
    margin: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.imgLogo{
    width: 70px;
    height: 70px;
    border-radius: 60%;
    margin: 10px;
}

.navLinks{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 255);
    list-style-type: none;
    }
    




























































    footer{
        background-color: rgb(241, 190, 124);
        margin:0px;
        border-bottom: 3px solid rgb(0, 0, 0);
        height: 30vh;
        align-items: ;
    }

    .logofooter{
        width: 100px;
        


    }
