body{
    margin: 0px;
}

nav{
    background-image: url('./logo2.jpg');
    background-position-x: center;
    background-position: 50%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(128, 0, 0);
    
}

.imgLogo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
    cursor: pointer;
    color: rgb(240, 248, 255);
    
}
    